.apply-stash-message-field {
    display: flex;
}

.apply-stash-message-field label {
    flex: 1 0 auto;
    margin-right: 8px;
    padding-top: 5px;
}

.apply-stash-delete-after-field {
  display: flex;
}

.apply-stash-delete-after-field input {
  margin-top: 8px
}
