.content-viewer {
  height: 100%;
  background-color: #1e1e1e;
}

.content-viewer-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #888888;
  font-style: italic;
}

.content-viewer-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #888888;
  font-style: italic;
}
