.repo-info {
  padding: 16px;
  border-bottom: 1px solid #3d3d3d;
}

.repo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.repo-name {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
}

.menu-button {
  color: #cccccc;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.2s;
  user-select: none;
  width: 24px;
  text-align: center;
  height: 24px;
  line-height: 16px;
}

.menu-button:hover {
  background-color: #2d2d2d;
  color: #ffffff;
}

.repo-local {
  color: #cccccc;
  font-size: 0.9rem;
  /*margin-bottom: 8px;*/
}

.repo-local strong {
  color: #26e1da;
}

.repo-origin {
  color: #cccccc;
  font-size: 0.9rem;
  /*margin-bottom: 4px;*/
}

.repo-origin strong {
  color: #48dd2f;
}

.repo-branch {
  color: #cccccc;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.repo-branch strong {
  color: #ffab40;
}

.local-changes-section {
  /* top margin removed */
}

.local-changes-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.9rem;
  border: 1px solid #3d3d3d;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #fff;
}

.changes-icon {
  font-size: 16px;
  line-height: 16px;
  margin-right: 4px;
}

.modified-count {
  color: #f0f0f0;
  font-weight: bold;
  margin-left: 6px;
}

.local-changes-item:hover {
  background-color: #2d2d2d;
  border-color: #264f78;
}

.local-changes-item.selected {
  background-color: #264f78;
  color: #f0f0f0;
  border-color: #264f78;
}

.cache-indicator {
  color: #888888;
  font-style: italic;
  font-size: 0.85rem;
}